.custom-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
/* mega_menu */
.mega-menu--wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}
.mega-menu--drop_down {
    padding: 5px;
    position: relative;
}
.mega-menu--drop_down:first-child{
    font-weight: bold;
}
.mega-menu--link {
    list-style: none;
    margin: 0;
    padding: 0;
}
.mega-menu--link-list:first-child {
    font-weight: bold;
}
.mega-menu--link-list {
    padding: 5px;
}
.mega-menu--link-list:hover {
    opacity: 0.5;
}
.mega-menu--link-list a {
    text-decoration: none;
    color: black;
}
.menu_img{
   filter:brightness(0.6);
   width: 100%;
}
.menu_img:hover{
    opacity: 0.5;
}
.img_text {
    text-transform: uppercase;
    position: absolute;
    font-size: 30px;
    color: #FFFFFF;
    top: 50%;
    margin:0;
    transform: translate(0, -50%);
    right: 0;
    left: 0;
    text-align: center;
}
/* best seller */

.beanut .collection .collection__title {
    text-align: center;
    text-transform: uppercase;
}
.beanut .collection .collection__title .title {
    font-family: 'Adorn_Condensed_Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 66px;
    line-height: 100%;
    text-transform: uppercase;
    color: #242323;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
.beanut .collection .collection__title .mobile_title_black {
    display: none;
}
.beanut .collection .collection__title .mobile_title_white {
    display: none;
}
.beanut .collection .facets-vertical .product-grid {
  /* gap: 23px; */
  display: flex;
  /* flex-wrap: unset; */
  justify-content: space-between;
} 
.beanut .collection .facets-vertical .product-grid .grid__item {
    /* width: calc(23% - var(--grid-desktop-horizontal-spacing) / 2); */
    padding: 19px;
    background: #FDF5F4;
    border: 4px solid #FDE0DC;
    border-radius: 12px;
    margin-bottom: 32px;
}
.beanut .collection .facets-vertical .product-grid .grid__item .card-wrapper .card .card__content .card__information {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.beanut .collection .facets-vertical .product-grid .grid__item .card-wrapper .card .card__content .card__information .card__heading {
    text-align: center;
    font-family: 'Adorn_Condensed_Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 19px;
    color: #242323;
    max-width: 200px;
} 
.beanut .collection .facets-vertical .product-grid .grid__item .card-wrapper .card .card__content .card__information .card__heading a {
    text-decoration: none;
}
.beanut .collection .facets-vertical .product-grid .grid__item .card-wrapper {
    height: max-content;
}
.beanut .collection .facets-vertical .product-grid .grid__item .product-form select{
    border: unset;
    background: #fdf5f4;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #242323;
    width: 100%;
    margin-bottom: 28px;
}
.beanut .collection .facets-vertical .product-grid .grid__item .product-form select:focus-visible{
    outline: 0 solid rgba(var(--color-foreground),0);
    box-shadow: 0 0 0 0rem rgb(var(--color-background)),0 0 0rem 0rem rgba(var(--color-foreground),0);
}
.button, .shopify-challenge__button, .customer button, button.shopify-payment-button__button--unbranded, .shopify-payment-button [role=button], .cart__dynamic-checkout-buttons [role=button], .cart__dynamic-checkout-buttons iframe {
    border-radius: 2px;
    border: 2px solid #242323;
    background: #FFD11F;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #242323;
    width: 100%;
}
.beanut .collection .facets-vertical .product-grid .grid__item .product-form .product-form__buttons .product-form__submit{
    padding: 20px 32px;
    gap: 10px;
}

.beanut .collection .facets-vertical .product-grid .grid__item .product-form .product-form__buttons .product-form__submit:hover {
    box-shadow: 6px 5px #242323;
    top: -5px;
    left: -6px;
    transition: 0.3s;
}
:root, .color-background-1 {
    --alpha-button-background: unset;
}
.button, .shopify-challenge__button, .customer button, button.shopify-payment-button__button--unbranded, .shopify-payment-button [role=button], .cart__dynamic-checkout-buttons [role=button], .cart__dynamic-checkout-buttons iframe {
    --shadow-horizontal-offset: unset;
    --shadow-blur-radius: unset;
    --shadow-opacity: unset;
    --shadow-visible: unset;
    --border-offset: unset;
    --border-opacity: unset;
}
.contains-card, .card {
    --shadow-horizontal-offset: unset;
}  
.beanut .collection .facets-vertical .product-grid .grid__item .product-form .product-form__buttons .product-form__submit span {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #242323;

}
.beanut .collection .facets-vertical .product-grid .grid__item .product-form .product-form__buttons .product-form__submit span .price {
    display: flex;
}
.beanut {
    background-image: url("13105.png");
}
#mobile_product-grid {
    display: none;
}
.card--card, .card--standard .card__inner {
    border: unset;
}
.beanut .collection .facets-vertical .product-grid .grid__item .product-form .select_variant{
    border-bottom: 1px solid #FDE0DC;
    padding-bottom: 5px;
}
@media (max-width:767px) {
    #mobile_product-grid {
        display: block;
    }
    #product-grid {
        display: none;
    }
    .beanut .collection .collection__title {
        padding: 60px 0;
    }
    .beanut .collection .collection__title .mobile_title_black {
        display: inline;
        font-family: 'Adorn_Condensed_Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
        color: #242323;
        padding-right: 5px;
    }
    .beanut .collection .collection__title .mobile_title_white {
        display: inline;
        font-family: 'Adorn_Condensed_Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px #242323;
    }
    .beanut .collection .collection__title .title{
        display: none;
    }
    .beanut .collection .facets-vertical .product-grid .grid__item .card-wrapper .card .card__content .card__information .card__heading {
        padding-top: 19px;
    }
    .slick-dots {
        bottom: 0px;
    }
    .slick-dots li{
        margin: 0 4px;
        width: 10px;
        height: 10px;
    }
    .slick-dots li button {
        border-radius: 20px;
        background: #E3E3E3;
        width: 10px;
        height: 10px;
    }
    .slick-dots li button:before {
        
        border-radius: 20px;
        color: transparent;
        width: 10px;
        height: 10px;
    }
    .slick-dots li.slick-active button:before {
        color: transparent;
        background: #FFD11F;
    }
}
/* notox store */

/* announcement */
.custom-ann .page-width {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}
.custom-ann {
    display: flex;
    justify-content: center;
}
.custom-ann .announcement-bar__message {
    color: #242323;
}

@media (max-width: 746px) {
    custom-ann {
        display: flex;
        
        justify-content: center;
    }
}

/* header */
.custom-header-margin {
    margin: 0 5rem;
    background-color: #fff;
    padding: 0 1rem;
}
.header__icons_right {
    grid-area: icons;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}
.header__icons_right a{
    width: max-content;
}
.header__icons_left {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.product-form__input .form__label {
    display: none;
}
.product-form__input {
    background-color: #fff;
    border-radius: 6px;
}
.product-form__input .quantity:after {
    box-shadow: unset;
}
@media (max-width:746px) {
    .header__icons_right .right-text {
        display: none !important;
    }
    .header__icons_left {
        display: none;
    }
}