@font-face {
    font-family: 'StrangerThings-Regular';
    src:  url('StrangerThings-Regular.woff') format('woff');
}
.password-wrapper {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.password-wrapper h2 {
    display: inline;
    max-width: 200px;
    text-align: left;
    width: 100%;
}
               
.password-wrapper input {
    padding: 5px;
    font-size: 15px;
    margin-left: 20px;
}
.password-wrapper .password, .url {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 20px;
}
.password-wrapper .password .title {
    margin: 0;
}
.password-wrapper .url input{
    margin-left: 20px;
} 
.password_text {
    padding: 10px;
    border: 1px solid #F0E8DA;
    width: 80%;
    font-size: 16px;
    border-right: unset;
    background-color: #000;
    height: 40px;
    
}

/* modal */


.modal-content .modal-body {
    display: flex;
    flex-direction: column;
    padding: unset;
}
.password_text:focus-visible {
    border: unset;
    outline: unset;
    background-color: #F0E8DA;
    height: 34px;
    border-radius: 0px;
}
.confirm {
    border: 1px solid #F0E8DA;
    font-family: StrangerThings-Regular;
    height: 40px;
    color: #F0E8DA;
    border-radius: 0px;
}
button.btn.btn-outline-dark.confirm:hover {
    height: 42px;
    border: 1px solid #000;
    border-left: unset;
    background: #F0E8DA;
    color: #000;
}
.modal-content {
    background: #000;
}
.modal-header {
    border: unset;
}
.modal-header a {
    color: #F0E8DA;
    font-family: StrangerThings-Regular;
    font-size: 15px;
}
.modal-header a:hover {
    text-decoration: none; 
}
.modal-content .modal-header .close {
    padding-top: 0;
}
.modal-body .image h2 {
    color: #F0E8DA;
    font-family: StrangerThings-Regular;
    margin-bottom: 15px;
    font-size: 27px;
    padding: 0 3px;
    margin-top: 20px;
}
.input_text .text-up {
    display: flex;
    align-items: center;
    padding-top: 40px;
}
.input-text {
    padding-top: 25px;
}
.desk-top-image {
    width: 100%;
}
.input-text-left {
    width: 50%;
    color: #F0E8DA;
    font-size: 34px;
    max-width: 300px;
    padding: 0 40px;
    font-family: StrangerThings-Regular;
    transform: rotate(-0.01turn);
}
.text-bottom {
    padding-bottom: 40px;
    display: flex;
    height: max-content;
    transform: rotate(0.01turn);
}
.input-text-bottom {
    font-size: 26px;
    transform: translate(124%, 0%);
    color: #F0E8DA;
    font-family: StrangerThings-Regular;
}


/* The Modal (background) */
.modal-dialog {
    max-width: 654px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #000;
    margin: auto;
   
    border: 1px solid #888;
    width: 100%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .btn_group {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .btn{
    font-size: 18px;
  }
 .modal-title {
    font-size: 20px;
  }
.mobile-image {
    display: none;
}
  @media(max-width:767px) {
    .modal-body .image h2 {
        text-align: right;
        max-width: 370px;
    }
    .input_text .text-up {
        flex-direction: column;
    }
    .input-text-left {
        width: 100%;
        padding-bottom: 20px;
    }
    .btn_group {
        justify-content: center;
        width: 100%;
    }
    .input-text-bottom {
        transform: translate(24%);
        padding-top: 12px;
    }
    .mobile-image {
        display: block;
        width: 100%;
        padding: 15px;
    }
    .desk-top-image {
        display: none;
    }
    .modal-body .image {
        padding: 20px;
    }
    .modal-body .image h2 {
        line-height: 2;
    }
    .confirm  {
        height: 46px;
        font-size: 25px;
    }
    .password_text {
        height: 46px;
        width: 75%;
    }
    .password_text:focus-visible {
        height: 40px;
    }
    .comnfirm:focus {
        height: 47px;
    }
    button.btn.btn-outline-dark.confirm:hover {
        height: 48px;
    }
    

  }